torch>=2.10.0
transformers==4.52.3
accelerate>=1.12.0
qwen-omni-utils>=0.0.9
fastapi
uvicorn
slowapi
gradio>=6.8.0
soundfile
librosa
pillow
bitsandbytes
nvidia-ml-py
psutil
requests
pydantic
imageio
imageio-ffmpeg
modelscope